/* .container
{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyPBqilm35nemF3z0ShV470yJ205MngukWmQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    background-position: center;
} */